[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"console-menu" = "*"
"mysql-connector" = "*"
cryptography = "*"
colorama = "*"

[dev-packages]
yapf = "*"
flake8 = "*"

[requires]
python_version = "3.9"
